<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="523674cd-ba12-47fe-8bc3-f4446b0d04a6" Publisher="CN=Rabia" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HadithApp</DisplayName>
    <PublisherDisplayName>Rabia</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HadithApp.App">
      <VisualElements DisplayName="HadithApp" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="HadithApp" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>